name: FoodApp CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Backend
      run: |
        docker build -t sam840/foodapp-backend:latest ./backend
        docker push sam840/foodapp-backend:latest

    - name: Build & Push Frontend
      run: |
        docker build -t sam840/foodapp-frontend:latest ./frontend
        docker push sam840/foodapp-frontend:latest

    - name: Setup kubectl
      uses: azure/setup-kubectl@v4
      with:
        version: v1.29.0

    - name: Configure Kubernetes access
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

    # ✅ الحل هنا
    - name: Deploy all Kubernetes manifests
      run: |
        ls -la k8s
        kubectl apply -f k8s/
