name: FoodApp CI/CD Pipeline

on:
  push:
    branches:
      - main

env:
  DOCKER_USERNAME: sam840
  BACKEND_IMAGE: sam840/foodapp-backend
  FRONTEND_IMAGE: sam840/foodapp-frontend

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout
      - name: Checkout repository
        uses: actions/checkout@v4

      # Debug structure
      - name: Debug repo structure
        run: |
          ls -la
          ls -la k8s

      # Docker login
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Backend image
      - name: Build and Push Backend
        run: |
          docker build -t $BACKEND_IMAGE:latest ./backend
          docker push $BACKEND_IMAGE:latest

      # Frontend image
      - name: Build and Push Frontend
        run: |
          docker build -t $FRONTEND_IMAGE:latest ./frontend
          docker push $FRONTEND_IMAGE:latest

      # kubectl
      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: v1.29.0

      # kubeconfig
      - name: Configure Kubernetes access
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

      # MongoDB
      - name: Deploy MongoDB
        run: |
          kubectl apply -f k8s/mongo-pvc.yaml
          kubectl apply -f k8s/mongo-deployment.yaml
          kubectl apply -f k8s/mongo-service.yaml

      # Backend
      - name: Deploy Backend
        run: |
          kubectl apply -f k8s/backend-deployment.yaml
          kubectl apply -f k8s/backend-service.yaml

      # Seed DB
      - name: Seed Database
        run: |
          kubectl apply -f k8s/seed-job.yaml

      # Frontend
      - name: Deploy Frontend
        run: |
          kubectl apply -f k8s/frontend-deployment.yaml
          kubectl apply -f k8s/frontend-service.yaml

      # Ingress
      - name: Deploy Ingress
        run: |
          kubectl apply -f k8s/ingress.yaml
