name: CI - Build & Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Login to DockerHub
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3️⃣ Build & Push Backend Image
      - name: Build & Push Backend Image
        run: |
          docker build -t sam840/foodapp-backend:latest ./backend
          docker push sam840/foodapp-backend:latest

      # 4️⃣ Build & Push Frontend Image
      - name: Build & Push Frontend Image
        run: |
          docker build -t sam840/foodapp-frontend:latest ./frontend
          docker push sam840/foodapp-frontend:latest
